<% expired = @alert.expired? %>
<tr>
  <td>
    <%= rule_link(@alert.statement, @alert.statement) %>
  </td>
  <td>
    <%= Time.at(@alert.started) %>
    <% if expired %>
      - <%= Time.at(@alert.expires) %>
    <% end %>
  </td>
  <td>
    <% if expired %>
      <span class="label">expired</span>
    <% else %>
      <span class="label label-important">active</span>
    <% end %>
  </td>
  <td>
    <%=h @alert.name %>
  </td>
  <td>
    <%= @alert.cluster %>
  </td>
  <td>
    <%= @alert.host.tr("_", ".") %>
  </td>
  <td>
    <%=h @alert.reason %>
  </td>
</tr>
