<tr>
  <td>
    <%= rule_link(@rule[:statement], @rule[:statement]) %>
  </td>
  <td>
    <%=h @rule[:level] %>
  </td>
  <td>
    <% if @rule[:threshold] %>
      <%=h @rule[:operator] %>
      <%=h @rule[:threshold] %>
      <%=h @rule[:units] %>
      for
      <%=h @rule[:average_over] %>
    <% end %>
  </td>
</tr>
